# Add additional backend-specific configurations in here

dbAlias=//localhost:3306/fenixedu
dbUsername=root
dbPassword=fenixedu

updateRepositoryStructureIfNeeded = true

canCreateDomainMetaObjects=false
